body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to bottom, #62c1e8, #2358b5);
  font-family: "Arial", sans-serif;
  padding: 20px;
  overflow-y: auto;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #84c9e6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #0056b3;
}

.campus-selection {
  margin-bottom: 20px;
}

#campus-select {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

/* Parking List */
.lots-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lot {
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background 0.3s;
}

.lot:hover {
  background-color: #0056b3;
}

/* Info Board */
.info-board {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #84c9e6;
  padding: 20px;
  clip-path: inset(0 0 25px 0 round 10px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-board-btn{
  padding:30px;
}

.hidden {
  display: none;
}

.close-btn {
  position: absolute;
  top: 1px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 20%;
  cursor: pointer;
}

.info-pages {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-page {
  display: none;
}

.info-page.active {
  display: block;
}
.info-page h2{
  text-decoration:underline;
}

.deck-image {
  position: relative;
  left: -15px;
  width:100%;
  height: 105%;
  object-fit: cover;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

