/* Background and Layout */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #62c1e8, #2358b5);
    font-family: "Arial", sans-serif;
}

/* Centering Container */
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    width: 90%;
    max-width: 400px;
  }

/* Header Styling */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  /*Back Button */
.back-button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

.back-button:hover {
    background-color: #333;
  }

  /* Travel Options Container */
.options-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* Traffic Status Box */
.option {
    width: 90%;
    height:28vh;
    border-radius: 12px;
    color:#ccc;
    background-color: rgb(78, 117, 176);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  .option:hover {
    transform: scale(1.05);
  }

  .row{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 1px;
    margin: 0;
    border-bottom: none;
  }

  .image {
    margin: 0;
    text-align: center;
    border-radius: 10px;
  }

  .column {
    flex: 1;
    padding: 20px;
    margin: 5px;
}

.bottom-right-text {
    display: flex;
    justify-content: flex-end; /* Align horizontally to the right */
    align-items: flex-end;     /* Align vertically to the bottom */
    text-align: right;         /* Text alignment for internal text */
}


  /* Mobile Responsiveness */
@media (max-width: 480px) {
    .container {
      max-width: 90%;
    }
  }

